<div *ngIf="service.karigar_info.type == 'Customer'" class="tabs">
    <ion-tabs  selectedIndex= {{index}}>
        <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="tab-home"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="New Arrival" tabIcon="tab-arrivals"></ion-tab>
        <ion-tab [root]="tab3Root" tabTitle="Contact Us" tabIcon="tab-contact"></ion-tab>
        <ion-tab [root]="tab4Root" tabTitle="Aboutus" tabIcon="tab-about"></ion-tab>
        <ion-tab [root]="tab8Root" tabTitle="Profile" tabIcon="tab-profile"></ion-tab>
      </ion-tabs>
</div>

<!-- *ngIf=" service.karigar_info.type == 'Plumber'"  -->
<div *ngIf=" service.karigar_info.type == 'Plumber'">
    <ion-tabs selectedIndex= {{index}}>
        <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="tab-home"></ion-tab>
        <ion-tab [root]="tab5Root" tabTitle="Offer" tabIcon="tab-gift"></ion-tab>
        <ion-tab [root]="tab6Root" tabTitle="" tabIcon="center-tab"></ion-tab>
        <ion-tab [root]="tab7Root" tabTitle="Points" tabIcon="tab-points"></ion-tab>
        <ion-tab [root]="tab8Root" tabTitle="Profile" tabIcon="tab-profile"></ion-tab>
      </ion-tabs>
</div>

