
<ion-header class="main-header remove">
    <ion-navbar>
        <ion-title>Category</ion-title>
    </ion-navbar>
    
    <div class="search add-search">
        <div class="filter">
            <ion-searchbar type='text' name='category_name' [(ngModel)]="filter.category_name" (ngModelChange)="getProductCategoryList()"></ion-searchbar>
        </div>
    </div>
</ion-header>

<ion-content class="listing add-images grid-listing">
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    
    
    
    <div *ngIf="no_rec" class="data-not">
        <img  src="assets/imgs/data-not-found.png">
    </div>
    
    <div *ngIf="prod_cat_list.length" class="main-div" >
        <ion-list *ngFor="let list of prod_cat_list; let i=index">
            <button ion-item (click)="goOnProductDetailPage(list.id)">
                <div class="image-manage">
                    <img *ngIf="!list.subcat_image || list.subcat_image.length==0" src="assets/imgs/no-thumbnail.jpg">
                    <img *ngIf="list.subcat_image && list.subcat_image.length!=0" src="{{imageUrl+list.subcat_image}}">
                </div>
                <p>{{list.category_name}}</p>
            </button> 
            <!-- <button  *ngIf="list.image" ion-item (click)="goOnProductDetailPage(list.id)">
                <div class="image-manage">
                    <img *ngIf="!list.image || list.image.length==0" src="assets/imgs/no-thumbnail.jpg">
                    <img *ngIf="list.image && list.image.length!=0" src="{{list.image[0].image}}">
                </div>
                <p>{{list.category_name}}</p>
            </button>   -->
        </ion-list>
        
    </div>
    
    <div class="main-div" *ngIf="!prod_cat_list.length && !no_rec">
        <ion-list *ngFor="let row of skelton" >
            <button class="skleton-box"></button> 
        </ion-list>
    </div>
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <div class="main-div">
          <ion-list *ngFor="let row of skelton" >
            <button class="skleton-box"></button> 
        </ion-list>
          </div>
            
    </ion-infinite-scroll>
    
</ion-content>

