<ion-header *ngIf="service.karigar_info.type == 'Customer'" class="home-header">
    <ion-navbar>
        <ion-title>
            
        </ion-title>
        
        <ion-buttons end>
        </ion-buttons>
        
    </ion-navbar>
</ion-header>


<div class="header-logo">
    <img src="../../assets/imgs/logo.png">
    <!-- <img src="assets/imgs/logo.png"> -->
</div>

<ion-content *ngIf=" service.karigar_info.type == 'Customer'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    
    <div class="banner">
        <img src="assets/imgs/slide-1.jpg">
    </div>
    
    <div class="product-option">
        <div class="main-box" (click)="goOnProductPage()">
            <div class="product-box">
                <img src="assets/imgs/design.svg">
                
                <div class="heading">
                    <h4>Product Catalogue</h4>
                </div>
                <div class="point">
                    <h3>{{product_count}}</h3>
                </div>
            </div>
            
        </div>
        <div class="main-box" (click)= "complaintHistory('Service')">
            <div class="product-box">
                <img src="assets/imgs/complaint.svg">
                
                <div class="heading">
                    <h4>Complaint History</h4>
                </div>
                <div class="point">
                    <h3>{{complaint_count}}</h3>
                </div>
            </div>
        </div>
        <div class="main-box" (click)= "complaintHistory('Installation')">
            <div class="product-box">
                <img src="assets/imgs/worker.svg">
                
                <div class="heading">
                    <h4>Installation Request History</h4>
                </div>
                <div class="point">
                    <h3>{{installation_count}}</h3>
                </div>
            </div>
        </div>
        
    </div>


    <div style="padding: 10px 10px 5px 10px;">
        <div class="btns">
            <button  *ngIf="!complaint_exist" icon-start (click)="goOnComplaintAdd('Service')">
                <div class="lf-btn">
                    <i class="material-icons">add_shopping_cart</i>
                </div>
                <div class="rt-btn">
                    <p>Add Service Req.</p>
                </div>
            </button>

            <button *ngIf="!complaint_exist" icon-start (click)="goOnComplaintAdd('Installation')">
                <div class="lf-btn">
                    <i class="material-icons">engineering</i>
                </div>
                <div class="rt-btn">
                    <p>Add Installation Req.</p>
                </div>
            </button>
        </div>
    </div>


    <div style="padding: 0px 10px 5px 10px;">
        <div class="btns">
            <button (click)="goToNewArrivals()">
                <div class="lf-btn">
                    <i class="material-icons">fiber_new</i>
                </div>
                <div class="rt-btn">
                    <p>New Arrivals</p>
                </div>
            </button>
            
            <a href="tel:9582198301" (click)="callCustomerCare()">
                <div class="lf-btn">
                    <i class="material-icons">person</i>
                </div>
                <div class="rt-btn">
                    <p>Customer Care</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="mb50" style="padding: 0px 10px 5px 10px;">
        <div class="btns">
            <button *ngIf="complaint_exist" (click)="goOnOpenComplaintAdd()">
                <div class="lf-btn">
                    <i class="material-icons">perm_scan_wifi</i>
                </div>
                <div class="rt-btn">
                    <p>Open Service Req.</p>
                </div>
            </button>
        </div>
    </div>
</ion-content>

<ion-header *ngIf=" service.karigar_info.type == 'Plumber'" class="home-header">
    <ion-navbar>
        <ion-title>
            <div class="header-logo">
                <img src="assets/imgs/logo.png">
            </div>
        </ion-title>
        
        <ion-buttons end>
            <button *ngIf="karigar_detail.status=='Verified'" ion-button class="cs-hdr-icons mr16" color="light"  (click)="scan()">
                <img src="assets/imgs/qr-code.svg">
            </button>
        </ion-buttons>
        
    </ion-navbar>
</ion-header>


<ion-content *ngIf=" service.karigar_info.type == 'Plumber'">
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh"     refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    
    <div class="banner">
        <img *ngIf="!offer_list.length" src="assets/imgs/banner.png">
        
        <ion-slides pager autoplay=300 *ngIf="offer_list && offer_list.length" >
            <ion-slide *ngFor="let list of offer_list; let i=index" (click)="goOnOffersPage(list.id)">
                <img src="assets/imgs/slide-1.jpg">
                <img src="assets/imgs/slide-2.jpg">
                <img src="assets/imgs/slide-3.jpg">
            </ion-slide>
        </ion-slides>
    </div>
    <div class="home-pint">
        <div class="profile-point ">
            <ul>
                <li>
                    <div class="pints">
                        <h3>{{today_point}}</h3>
                        <p>today</p>
                        <span>POINTS</span>
                    </div>
                </li>
                <li>
                    <div class="pints">
                        <h3>{{last_point}}</h3>
                        <p>Last 7 Days</p>
                        <span>POINTS</span>
                    </div>
                </li>
                <li >
                    <div class="pints">
                        <h3>{{karigar_detail.balance_point}}</h3>
                        <p>Balance</p>
                        <span>POINTS</span>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>

    <div class="product-option">
        <div class="main-box" (click)="goOnProductPage()">
            <div class="product-box">
                <img src="assets/imgs/design.svg">
                
                <div class="heading">
                    <h4>Our Products</h4>
                </div>
                <div class="point">
                    <h3>{{product_count}}</h3>
                </div>
            </div>
        </div>
        <div class="main-box"  (click)="goOnMyCamplaintsPage('Service')" >
            <div class="product-box">
                <img src="assets/imgs/complaint.svg">
                <div class="heading">
                    <h4>Complaint</h4>
                </div>
                <div class="point">
                    <h3>{{plumber_complaint}}</h3>
                </div>
            </div>
        </div>
        <div class="main-box"  (click)="goOnMyCamplaintsPage('Installation')" >
            <div class="product-box">
                <img src="assets/imgs/worker.svg">
                <div class="heading">
                    <h4>Installation  Request</h4>
                </div>
                <div class="point">
                    <h3>{{plumber_installation}}</h3>
                </div>
            </div>
        </div>
    </div>



    <div style="padding: 0px 10px 5px 10px;">
        <div class="btns">
            <a href="tel:9582198301">
                <div class="lf-btn">
                    <i class="material-icons">call</i>
                </div>
                <div class="rt-btn">
                    <p>Customer Care</p>
                </div>
            </a>

            <button (click)="goToNewArrivals()">
                <div class="lf-btn">
                    <i class="material-icons">fiber_new</i>
                </div>
                <div class="rt-btn">
                    <p>New Arrivals</p>
                </div>
            </button>
        </div>
    </div>

    <div class="mb50" style="padding: 0px 10px 5px 10px;">
        <div class="btns">
            <button (click)="goToNearestDealers()">
                <div class="lf-btn">
                    <i class="material-icons">engineering</i>
                </div>
                <div class="rt-btn">
                    <p>Nearest Dealers</p>
                </div>
            </button>
        </div>
    </div>

</ion-content>

